In [1]:
import numpy as np #importing numpy
import pandas as pd #importing pandas
import PIL #importing pillow for image processing
from PIL import Image#importing image from pillow library
import skimage#importing skimage library
import os#importing os library
import time#importing time library

#Capture start time of the program
start_time = time.time()

In [2]:
#changing path
os.chdir('D://DKIT//dissertation//Dataset_of_Tomato_Leaves//plantvillage//new_features//')

# RGB Data

In [3]:
#reading numpy array data
rgb_test = np.load('rgb_data.npy')
#reading csv file
rgb_df = pd.read_csv('rgb_data.csv')

In [4]:
#converting pixels npy file to dataframe
features = pd.DataFrame(rgb_test)

In [5]:
#extracting mean,min,max,median from  the data frame and adding it to the features
features['mean'] = rgb_df['mean']
features['min'] = rgb_df['min']
features['max'] = rgb_df['max']
features['median'] = rgb_df['median']

In [6]:
#checking any negative numbers as a test
(features<0).sum().sum()

0

In [7]:
#printing rgb_df
print(rgb_df)

             mean  min  max  median                  disease
0       97.180664   10  163   101.5           bacterial_spot
1       98.775716    5  184    86.0           bacterial_spot
2      115.811035    0  219   119.0           bacterial_spot
3       99.725260   11  192    89.0           bacterial_spot
4      104.349609   23  190    99.0           bacterial_spot
...           ...  ...  ...     ...                      ...
14526  128.490967    0  197   140.0  two-spotted_spider_mite
14527  113.974609    2  179   124.0  two-spotted_spider_mite
14528  124.632568    0  200   129.0  two-spotted_spider_mite
14529  117.917074    0  182   123.0  two-spotted_spider_mite
14530  123.845215    0  209   126.0  two-spotted_spider_mite

[14531 rows x 5 columns]

In [8]:
print(features)

,0,1,2,3,4,5,6,7,8,9,...,12282,12283,12284,12285,12286,12287,mean,min,max,median
0,143,147,146,143,147,146,143,147,146,145,...,120,112,110,123,113,112,97.180664,10,163,101.5
1,178,172,172,177,171,171,175,169,169,173,...,139,125,124,138,124,123,98.775716,5,184,86.0
2,125,129,106,125,129,106,125,128,107,125,...,63,54,55,61,53,51,115.811035,0,219,119.0
3,118,120,117,120,122,119,124,126,123,129,...,180,177,188,184,181,192,99.725260,11,192,89.0
4,166,172,168,166,172,168,166,172,168,167,...,102,109,115,100,107,113,104.349609,23,190,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14526,135,120,123,133,118,121,133,118,121,136,...,172,156,169,173,157,170,128.490967,0,197,140.0
14527,131,118,127,131,118,127,132,119,128,134,...,159,141,165,158,140,164,113.974609,2,179,124.0
14528,130,115,118,130,115,118,131,116,119,132,...,129,129,131,127,127,129,124.632568,0,200,129.0
14529,179,168,176,178,167,175,176,165,173,175,...,126,113,120,126,113,122,117.917074,0,182,123.0
14530,114,99,102,112,97,100,109,94,97,108,...,202,188,185,205,191,188,123.845215,0,209,126.0

In [9]:
features = features.values

In [10]:
#assigning target
target = rgb_df['disease'].values
#splitting the data to 80 percent and 20 percent
from sklearn.model_selection import train_test_split
Ftrain,Ftest,Ltrain,Ltest=train_test_split(features,target, test_size=0.20, random_state=24)

In [11]:
#importing classification report and confusion matrix
from sklearn.metrics import classification_report, confusion_matrix

In [12]:
#importing svm model
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [13]:
#scaling the data using standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#sclaing the data
Ftrain_scaled = scaler.fit_transform(Ftrain)
Ftest_scaled = scaler.fit_transform(Ftest)

# SVM(RBF) on RGB data

In [14]:
#assigning the model
svm_rbf = SVC(kernel='rbf')
#fitting the model
svm_rbf.fit(Ftrain_scaled,Ltrain)
#predicting the outpur
y_pred = svm_rbf.predict(Ftest_scaled)
print(accuracy_score(Ltest,y_pred))

0.8579291365669075

In [16]:
#classification report
y_predict = svm_rbf.predict(Ftest_scaled)
print(classification_report(Ltest, y_predict))
print(confusion_matrix(Ltest, y_predict))

                               precision    recall  f1-score   support

               bacterial_spot       0.88      0.93      0.90       345
                 early_blight       0.64      0.42      0.51       153
                      healthy       0.96      0.95      0.95       234
                  late_blight       0.79      0.81      0.80       309
                    leaf_mold       0.81      0.69      0.74       145
           septoria_leaf_spot       0.79      0.79      0.79       293
                  target_spot       0.79      0.82      0.80       240
          tomato_mosaic_virus       0.75      0.80      0.77        54
tomato_yellow_leaf_curl_virus       0.93      0.96      0.94       854
      two-spotted_spider_mite       0.86      0.86      0.86       280

                     accuracy                           0.86      2907
                    macro avg       0.82      0.80      0.81      2907
                 weighted avg       0.85      0.86      0.85      2907

[[320   2   1   3   0   1   2   0  16   0]
 [ 24  65   2  25   1   4  14   1   9   8]
 [  0   3 222   4   1   2   2   0   0   0]
 [  4   9   3 250  10  10   7   3   7   6]
 [  1   3   0  10 100  19   2   2   5   3]
 [  2   6   1  11  10 232  10   3  15   3]
 [  6   8   2   4   1   9 198   2   2   8]
 [  0   1   0   0   1   8   1  43   0   0]
 [  8   2   0   4   0   5   3   0 822  10]
 [  0   3   0   6   0   2  13   3  11 242]]

In [17]:
#calculating time taken by the program
end_time = time.time()
print(end_time - start_time)

1260.9107162952423